* {
    margin: 0;
    padding: 0;
    color: #1F2937;
    overflow-x: scroll;
}

body {
    height: 100vmax;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 12px 150px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.logo, .header-title {
    color: #F9FAF8;
}

.header-text {
    color: #E5E7EB;
}

.body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*4 main content sections */
.section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
}

/* containers embedded in body sections */
.container {
    display: flex;
}

/* adjust visible left/right padding in alignment */
.header, .footer, .section-hero, .section-cta {
    padding-left: 150px;
    padding-right: 150px;
}




/*Hero section */
.section-hero {
    justify-content: space-between;
    background-color: #1F2937;
}

.hero {
    color: #E5E7EB;
}

.image-placeholder {
    background-color: grey;
    height: 75px;
}

/*Infographic section */
.section-info {
    flex-direction: column;
}

.info {
    width: 200px;
    text-align: center;
}

/* Quote section */
.section-quote {
    flex-direction: column;
    background-color: #E5E7EB;
}

.container-quote {
    flex-direction: column;
}

.quote-author {
    margin-left: auto;
}

/* CTA section */
.section-cta {
    margin: 0px 150px;
    padding: 0;
    gap: 100px;
    background-color: #3882F6;
    flex: 1;
}


.cta-content {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.btn-cta {
    margin-right: 100px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 150px;
    background-color: #1F2937;
    color: #F9FAF8;
}



ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 125px;
    height: 125px;
    border: 1px solid #3882F6;
}

h2 {
    padding-bottom: 50px;
}

button {
    background-color: hsl(217, 91%, 59%); /* #3882F6; */
    color: 	#E5E7EB;
    padding: 10px;
    outline: none;
    border: 1px solid #E5E7EB;
}

button:hover {
    cursor: pointer;
    background-color: hsl(217, 91%, 40%); /* #3882F6; */;
}
