* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
}

.body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-hero {
    background-color: skyblue;
    flex: 1;
}

.section-info {
    flex: 1;
}

.info-container {
    background-color: lightgray;
    display: flex;
}

.section-quote {
    background-color: skyblue;
    display: flex;
    flex: 1;
}

.section-cta {
    background-color: lightgray;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}